/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

body {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.13) 100%), #000;
    margin: 0; /* To remove default margin */
    height: 100vh; /* Ensure it covers the full viewport height */
    overflow: hidden;
}

nav{
    background-color: #121212;
    height: 90px;
    display: flex;
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
    
}

#main-nav {
    width: 85%;
    height: 80%;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

#movie-logo{
    width: 15%;
    height:100% ;
    /* border: 2px solid blue; */
}

#input-space{
    width: 85%;
    height: 100%;
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
}

#movie-logo img{
    height: 100%;
}

#movie-form{
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-bottom: -22px;
}

#input-movie{
    width: 90%;
    padding: 4px 10px;
    border-radius: 5px;
    color: #A7A7A7;
    font-family: K2D;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#search-button{
    background-color: transparent;
    position: absolute;
    border: none;
    right: -20px;
    top: -2px;
}

#search-img{
    height: 40px;
    transition: transform 0.2s ease-in-out;
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 80%;
    margin: auto;
    gap: 5%;
}

#movie-searched{
    /* border: 2px solid red; */
    position: relative;
}

#small-heading{
    color: #FFF;
    font-family: "League Gothic";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 16px;
}

#searched-img{
    height: 540px;
    border-radius: 5px;
    box-shadow: 0px 13px 4.3px 0px rgba(0, 0, 0, 0.25);

}

#suggested-movies{
    /* border: 2px solid red; */
    width: 39vh;
}

#recommended-movies{
    height: 170px;
    margin-top: 8px;
    border-radius: 5px;
    box-shadow: 0px 13px 4.3px 0px rgba(0, 0, 0, 0.25);
}


#movie-descprition{
    /* border: 2px solid red; */
    height: 75vh;
}

#details-box{
    border-radius: 3px;
    height: 93%;
    border: 1px solid #403D3D;
    background: rgba(0, 0, 0, 0.69);
    box-shadow: 0px 9px 4px 0px rgba(0, 0, 0, 0.25);
}

#overview-heading{
    color: #EECB11;
    font-family: K2D;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 12px 0px 7px 12px
}

#overview-box{
    /* border: 2px solid red; */
    height: 40%;
    max-height: 270px;
    overflow-y: auto;
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.27);
    background: rgba(217, 217, 217, 0.12);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: auto;
    width: 95%;
    padding: 8px;
}

#overview{
    color: #ADACAC;
    font-family: Tomorrow;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

#details-box{
    /* height: 80vh; */
}

#title-display{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title-heading{
    color: #6B626E;
    font-family: K2D;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 21px;
}

#show-title{
    border-radius: 3px 0px 0px 3px;
    border-top: 1px solid rgba(255, 255, 255, 0.54);
    border-bottom: 1px solid rgba(255, 255, 255, 0.54);
    border-left: 1px solid rgba(255, 255, 255, 0.54);
    background: rgba(217, 217, 217, 0.12);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    padding-left: 4px;
}

#title{
    color: #FFF;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#tagline-display{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#tagline-heading{
    color: #6B626E;
    font-family: K2D;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 21px;
}

#show-tagline{
    border-radius: 3px 0px 0px 3px;
    border-top: 1px solid rgba(255, 255, 255, 0.54);
    border-bottom: 1px solid rgba(255, 255, 255, 0.54);
    border-left: 1px solid rgba(255, 255, 255, 0.54);
    background: rgba(217, 217, 217, 0.12);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    padding-left: 4px;
}

#tagline{
    color: #FFF;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#rating-box{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#rating-img{
    height: 60px;
    margin-left: 192px;
}

#rating{
    color: #FFF;
    position: absolute;
    font-family: K2D;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 250px;
}

.icon-bar {
    position: fixed;
    top: 44%;
    right: 0px;
    border: none;
    padding: 20px;
  }

.response-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    margin-top: 12px;
}

.response-bar a{
    padding: 10px;
}

#dev-by{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 68px;
} 

 #dev-by p{
    color: #FFF;
    font-family: K2D;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}


#play-data{
    background: rgba(61, 61, 61, 0.46);
    position: relative;
    bottom: 125px;
    height: 85px;
    display: flex;
    align-items: center;
}


#big-play-img{
    margin-left: 20px;
    height: 9vh;
    transition: transform 1.5s ease-out;
}

#searched-movie-name{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 10px;
}

#first, #second, #third{
    /* border: 2px solid red; */
    position: relative;
}

#first-movie-name, #second-movie-name, #third-movie-name{
    /* border: 2px solid red; */
    position: absolute;
    display: flex;
    bottom: 2vh;
    height: 6vh;
    width: 39vh;
    /* background-image: url('images/playbutton.png'); */
}

.small-play-img{
    height: 4vh;
    margin: 6px;
    transition: transform 0.2s ease-out;
}

.small-box{
    border-radius: 5px 0px 0px 5px;
    background: rgba(217, 217, 217, 0.48);
    /* border: 2px solid red; */
    /* align-items: center; */
    display: flex;
    align-items: center;
    padding-left: 7px;
    height: 100%;
    width: 100%;
    margin-left: 15px;

}

#first-name, #second-name, #third-name{
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.response-bar img{
    transition: transform 0.2s ease-out ;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


  
  #search-img:hover {
    transform: scale(1.1) rotate(20deg); /* rotate the image 10 degrees on hover */
  }

  #big-play:hover, .small-play-img:hover, .response-bar img:hover{
    transform: scale(1.1);
  }

